main{
    width:75%;
    margin:50px auto;
    display: grid;
    grid-template-rows: 38px repeat(1,1fr);
    grid-template-columns: 277px repeat(3,1fr);
}
.div1{
    grid-row:1/-1;
    grid-column: 1/2;
}
.div5{
    grid-row:2/-1;
    grid-column: 2/-1;
}
.container{
    display: flex;
    flex-wrap: wrap;
    jsu
}